 /*Schedule*/

 #schedule {
    margin-top: -10vh;
  }

  #schedule .text, #schedule h3 {
    color: #edf0e2;
  }

  #schedule h3 {
    margin-bottom: auto;
  }

  .hourly {
    display: flex;
    justify-content: space-between;
    margin-bottom: .3vw;
  }

  .hourly > p {
    width: 25%;
  }

  .days {
    display: flex;
    justify-content: flex-start;
    width: 140vw;
  }

  .day  {
    margin-right: 5vw;
  }

  #Saturday {
    width: 80vw;
  }

#Sunday {
    width: 50vw;
  }

  .dayname {
    font-size: 21pt;
  }

.timestamp {
    font-size: 14pt;
    line-height: 1.25
  }

.event {
    font-size: 14pt;
    line-height: 1.25;
    padding-left: 1vw;
}