.horizontalInset {
  position: relative;
  height: 90%;
  margin-top: 10%;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: green;
}

#roadimg {
  position: absolute;
  background-image: url("../../images/road.png");
  background-size: 100%;
  width: 500%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 20;
}



// /*horizontal */

// .container {
//     display: flex;
//     flex-wrap: nowrap;
//     height: 100vh;
//     width: 400vw;
//     overflow: hidden;
//     background-image: url("../../images/bg2.png");
//     background-size: cover;
//     background-position: center;
//     margin-left: 0;
//     z-index: 0;
//   }

  #horizontal {
    overflow-x: scroll;
    display: flex;
    width: 100%;
  }

  #cliffface {
    background-image: url("../../images/cliffface.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1;
    position: relative;
    width: 300vw;
  }

  #clifffaceContent {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
  }

  :root {
    --arrowWidth: 20vw;
  }

  #arrowContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
    margin-left: -10vw;
  }

  #arrow {
    background-image: url("../../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    width: var(--arrowWidth);
    position: relative;
    z-index: 4;
  }

  #arrowLabel {
    font-size: 21pt;
    color: #edf0e2;
    width: var(--arrowWidth);
    text-align: center;
    margin-top: -5vh;
  }






 

  /* van */

    #van {
      background-image: url("../../images/van.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 400px;
      width: 750px;
      position: relative;
      bottom: 0;
      margin-top: auto;
      z-index: 4;
    }


/* partners */

  #partners {
    margin-top: 12.5vh;
    min-width: 75vw;
  }

  #partners h3 {
    font-size: 18pt;
  }

  #partnercloud {
    display: flex;
    max-width: 50vw;
  }

  .partner {
    flex: 20%;
    max-width: 20%;
    margin-right: 5%;
  }

  .partner img {
    width: 100%;
  }

  /* contact */

  #contact {
    min-width: 50vw;
    margin-top: 17.5vh;
  }


  #contact > a {
    padding: 15px;
    background-color: #eb8258;
    color: #edf0e2;
    max-width: 20%;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    text-transform: none !important;
  }

    #contact h3 {
      color: #264653;
      font-size: 42pt;
    }

    #socials {
      width: 20%;
      display: flex;
      justify-content: space-between;
      margin-top: 5vh;
    }

    #socials .social {
      color: #eb8258;
      text-transform: none;
      flex: 20%;
      max-width: 20%;
      background-color: #edf0e2;
      border-radius: 100%;
      text-align: center;
    }
