html * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'rooney-sans', sans-serif;
  /* overscroll-behavior-y: none; */
  /* background-image: linear-gradient(to right, rgb(239, 246, 249) , rgb(162, 204, 216)); */
}

h1 {
  font-family: 'ff-cocon-pro', sans-serif;
  color: #eb8258;
  padding-top: 25vh;
  font-size: 60pt;
}

h2 {
  color: #2a9d8f;
}

.horizWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


